body{
    background-color: #7aafd6;

    background-image: url(https://github.com/tmesserACSS/Games/blob/main/Circuits2.png);
    background-image: url(Circuits2.png);
    background-size: 100%;
    background-position-y: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1{
    color: #7aafd6;
    margin-top: 10px;
    margin-left: 10px;
    margin-right:10px;
    background-repeat: no-repeat;
    background-position:bottom;
    font-size: 150px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width:thin;
}

h1.h1A{
    margin-bottom: -10px;
}

h1.h1B{
    margin-top: -10px;
    font-size: 75px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

button{
    width: 662px;
    height: 252px;

    margin: 10px;

    background-color: black;
    color: white;

    border-color: white;
    border-width: 5px;

    font-size: 48px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

button.ButtonA {
    background-image: url(https://github.com/tmesserACSS/Games/blob/main/jason.jpg);
    background-image: url(jason.jpg);
    background-position-y: 50%;
    background-size: 60%;
}

button.ButtonB {
    background-image: url(https://github.com/tmesserACSS/Games/blob/main/JacobTetris.png);
    background-image: url(JacobTetris.png);
    background-position-y: 35%;
    background-size: 100%;
}

button.ButtonC {
    background-image: url(https://github.com/tmesserACSS/Games/blob/main/Breakout.png);
    background-image: url(Breakout.png);
    background-position-y: 55%;
    background-size: 100%;
}

button.ButtonD {
    background-image: url(https://github.com/tmesserACSS/Games/blob/main/AlienPong.png);
    background-image: url(AlienPong.png);
    background-position-y: center;
    background-size: 100%;
}

button.ButtonE{
    background-image: url(https://github.com/tmesserACSS/Games/blob/main/BenSnake.png);
    background-image: url(BenSnake.png);
    background-position-y: center;
    background-size: 100%;
}

button.ButtonF{
    background-image: url(https://github.com/tmesserACSS/Games/blob/main/MichaelSnake.png);
    background-image: url(MichaelSnake.png);
    background-position-y: center;
    background-size: 100%;
}

/*button.ButtonG{
    
}*/

/*button.ButtonH{
    
}*/

p{
    color: orange;
}

p.p1{
    color:black;
}

p.p2{
    color:white;
}